.CommentCard {
  width: 100%;
  margin: 5px 0px 1px 1px;
  .comment-header {
    display: flex;
    align-items: center;
    .profile-picture-container {
      border-radius: 50%;
      border: 2px solid lightgray;
      background-color: lightgray;
      width: 30px;
      height: 30px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    p {
      margin-left: 5px;
      font-weight: bold;
    }
  }
  p {
    margin: 0px;
    padding: 0px;
  }
  .comment-main {
    font-size: 15px;
    border-left: 2px solid lightgray;
    margin-left: 15px;
    margin-top: -10px;
    padding: 5px;
    .comment-content{
      margin-left: 20px;
      margin-bottom: 20px;
      .comment-text{
        background-color: rgb(244, 244, 244);
        padding: 5px;
        border-radius: 5px;
      }
    }
    .comment-actions {
      margin: 3px 0px;
      display: flex;
      flex-direction: row;
      button {
        margin-right: 6px;
      }
      input {
        margin-right: 2px;
      }
    }
  }

  // &:hover {
  //   .profile-picture-container {
  //     border: 2px solid rgb(86, 213, 255);
  //   }
  //   .comment-main {
  //     border-left: 2px solid rgb(86, 213, 255);
  //   }
  // }
}
