.DisplayPosts {
  margin-bottom: 8px;
  cursor: pointer;
  .post-topic {
    text-align: left;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.303);
    border-radius: 5px;

    .post-topic-name {
      padding-left: 6px;
      margin: 5px;
    }
  }
  .postedby-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    padding-left: 12px;
    p {
      margin: 0px;
    }
    .postedby-text {
      margin-right: 5px;
    }
    .postedby-username {
      font-style: bold;
    }
  }
}
