@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

.Home {

   display: flex;
   justify-content: center;
   padding-top: 60px;
   font-family: 'Sevillana', cursive;
   font-size:x-large;
};