.SinglePost {
  height: 100vh;
  overflow-y: scroll;

  .spinner-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .disabled-button {
    cursor: default;
  }
  .original-content {
    color: white;
    background-color: grey;
  }
  .notify-if-edited {
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      margin: 0px 0px 0px 3px;
    }
    .link {
      font-weight: bold;
      text-transform: lowercase;
      margin-left: 5px;
      background-color: rgb(38, 123, 214);
      color: white;
      &:hover {
        background-color: rgb(2, 56, 114);
      }
    }
  }
  .inform-deleted-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .inform-deleted-message {
      font-weight: bold;
      margin-top: 20px;
      font-size: 120%;
      color: rgb(81, 81, 81);
    }
  }
  .likes-postactions-container {
    display: flex;
    button {
      height: 100%;
      margin: 0px 1px;
    }
    .likes-container-outer {
      display: flex;
      align-items: flex-start;
      margin-right: 5px;
      .likes-container-inner {
        border: 1px solid rgba(128, 128, 128, 0.293);
        border-radius: 5px;
      }
    }
  }

  .comments-container {
    display: flex;
    flex-direction: column;
  }
}
